.changeBalance {
  border: 2px solid rgba(0, 0, 0, 0.4);
  margin: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.check {
  text-align: left;
  background-color: green;
  color: white;
  border: 1px solid black;
  font-weight: bolder;
  font-size: x-large;
}
.amountValue {
  text-align: center;
}
