.blue {
  background-color: blue;
  color: white;
  border: 3px solid white;
}
.red {
  background-color: rgb(149, 7, 7);
  color: white;
  border: 3px solid white;
}
.yellow {
  background-color: rgb(187, 123, 6);
  color: white;
  border: 3px solid white;
}
.white {
  background-color: rgb(75, 7, 72);
  color: white;
  border: 3px solid white;
}
.plus {
  background-color: white;
  color: rgb(75, 7, 72);
  border-radius: 50%;
  padding: 1px;
}
.selectAll {
  background-color: white;
  color: rgb(15, 49, 129);
  text-align: center;
  text-decoration: underline;
}
.currentlySelected {
  background-color: white;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: underline;
}
.paymentHeading {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-color: rgba(255, 255, 255, 0);
}
