.profile {
  text-align: center;
}
.row1 {
  border: 3px solid white;
  padding: 25px;
  padding-bottom: 10px;
  text-align: justify;
  padding-left: 5rem;
}
.updated {
  color: rgb(3, 79, 3);
  font-weight: bolder;
  background-color: white;
  max-width: max-content;
}
.danger {
  color: rgb(151, 1, 1);
  font-weight: bolder;
  background-color: white;
  max-width: max-content;
}
