.NavLink {
  text-decoration: none;
  color: white;
}
.NavLink.active {
  color: white;
  border: 1px solid slateblue;
  background-color: brown;
  padding: 5px;
  zoom: 110%;
}
.premium {
  border: 2px solid white;
  font-weight: bolder;
  color: skyblue;
}
