.randomImage {
  background: white;
  color: black;
  max-width: 800px;
  max-height: 200px;
}
.forgotPasswordEmail {
  text-align: center;
  width: 70%;
}
.forgotPasswordEmailButton {
  background: rgb(110, 1, 1);
  color: white;
  padding: 1rem;
  width: 30%;
}
